body {
  margin: 0;
  min-width: 100vh;
  width: 1280px;
  height: 720px;
  background: #2C2B3D;
  font-family: 'JetBrains Mono', monospace;
}

.page {
  margin: 0 auto;
  padding-top: 71px;
  width: 1092px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 101px;
}

ul {
  font-size: 14px;
  color: #FFF;
  list-style: none;

  margin: 0;
  padding: 0;
  
  gap: 64px;
  display: flex;
}

ul li a:hover,
footer a:hover {
  font-weight: bold;
  color: #00BFA6;
}

ul li a,
footer a {
  text-decoration: none;
  color: #FFF;
}

span {
  color: #00BFA6;
}

main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

h1 {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;

  text-align: center;
  line-height: 40px;
  margin-bottom: 59px;
}

section p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  
  font-size: 16px;
  line-height: 28px;
  width: 604px;

  text-align: center;
}

footer {
  color: #FFF;

  font-size: 14px;
  line-height: 28px;

  text-align: center;
}

hr {
  border: 1px solid #00BFA6;
  width: 568px;
  height: 0px;
  margin-top: 157px;
  margin-bottom: 27px;
}

#padlock {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
